<button id="led-on" type="button" class="btn btn-success">ひかる</button>
<button id="led-off" type="button" class="btn btn-success">きえる</button>

<script>
$('#led-on').click(function(e) {
    ledOn();
});
$('#led-off').click(function(e) {
    ledOff();
});

</script>