<button id="test1" type="button" class="operator btn btn-success">テスト1</button>
<button id="test2" type="button" class="operator btn btn-success">テスト2</button>
<button id="test3" type="button" class="operator btn btn-success">テスト3</button>
<button id="test4" type="button" class="operator btn btn-success">テスト4</button>
<button id="test5" type="button" class="operator btn btn-success">テスト5</button>

<script>
    $('.operator')
            .on('mousedown', function (e) {
                test(e.target.id);
            })
            .on('touchstart', function (e) {
                test(e.target.id);
            });
</script>